<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include meta.html %}
    {% include main-css-block.html %}

    <!-- build:css(app) /css/theme.css -->
    <link rel="stylesheet" href="/css/unify/theme.css">
    <!-- endbuild -->

    <!-- Replace with a custom modernizer build for production -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
      {{ content }}

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
