---
layout: default-post
---
<article class="post">
</article>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="col-md-9 md-margin-bottom-60">
      <!--Blog Post-->
      <div class="blog margin-bottom-40">
        <h2><a href="#">{{ page.title }}</a></h2>
        <div class="blog-post-tags">
          <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</li>
            <li><i class="fa fa-pencil"></i> {{ page.author.name }}</li>
<!--            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>-->
          </ul>
          <ul class="list-unstyled list-inline blog-tags">
            <li>
              <i class="fa fa-tags"></i>
              <a href="#">Technology</a>
              <a href="#">Education</a>
              <a href="#">Internet</a>
              <a href="#">Media</a>
            </li>
          </ul>
        </div>
        <div class="blog-img">
          <img class="img-responsive" src="/img/posts/2.jpg" alt="">
        </div>

        {{ content }}

      </div>
      <!--End Blog Post-->

      <hr>
      <!-- Comment Form -->
      <div class="post-comment">
        <h3>Leave a Comment</h3>
        {% include disqus.html %}
      </div>
      <!-- End Comment Form -->
    </div>
    <!-- End Left Sidebar -->

    {% include sidebar.html %}

  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
