<!--<header>-->
<!--<a class="backToMain" href="http://www.geekulcha.com"><i class="fa fa-home fa-lg"></i> Return to Main Site</a>-->
<!--=== Header ===-->
<div class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <!-- Topbar Navigation -->
      <ul class="loginbar pull-right">
        <!--<li>
          <i class="fa fa-globe"></i>
          <a>Languages</a>
          <ul class="lenguages">
            <li class="active">
              <a href="#">English <i class="fa fa-check"></i></a>
            </li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">Russian</a></li>
            <li><a href="#">German</a></li>
          </ul>
        </li>
        <li class="topbar-devider"></li>-->
        <!--<li><a href="page_faq.html">Help</a></li>
        <li class="topbar-devider"></li>
        <li><a href="page_login.html">Login</a></li>-->
      </ul>
      <!-- End Topbar Navigation -->
    </div>
  </div>
  <!-- End Topbar -->

  <!-- Navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="height: 20px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id="logo-header" class="img-responsive" src="/img/logo.png" alt="Logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- Home -->
          <li class="">
            <a href="{{ site.join }}"> Join Geekulcha</a>
          </li>
          <!-- End Home -->

          <!-- Pages -->
          <!--<li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              About
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.main }}/about">About Geekulcha</a></li>
              <li><a href="{{ site.main }}/team">The Team</a></li>
              <li><a href="{{ site.main }}/partners">Friends of the Geeks</a></li>
              <li><a href="{{ site.main }}/contact">Contact Us</a></li>
            </ul>
          </li>-->
          <!-- End Pages -->

          <!-- Geekstarz -->
          <!--<li class="">
            <a href="{{ site.main }}/geekstarz">Geekstarz</a>
          </li>-->
          <!-- End Geekstarz -->

          <!-- Events -->
          <!--<li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Events
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Featured</a></li>
              <li><a href="#">Categorized</a></li>
              <li><a href="#">Search Events</a></li>
            </ul>
          </li>-->
          <!-- End Events -->

          <!-- Gallery -->
          <!--<li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Gallery
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Pictures</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </li>-->
          <!-- End Gallery -->

          <!-- Blog -->
          <!--<li class="active">
            <a href="/">Blog</a>
          </li>-->
          <!-- End Blog -->

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/navbar-collapse-->
    </div>
  </div>
  <!-- End Navbar -->
</div>

<!--</header>-->
<!--=== End Header ===-->

<!--=== Breadcrumbs v2 ===-->
<div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
  <div class="breadcrumbs-v2-in">
    <h1>
      Geekulcha's Blog <br>
      <small style="color: #fff;">Young. Talented. Skilled. Creative. Ambitious</small>
    </h1>
    <!-- <ul class="breadcrumb-v2 list-inline">
<li><a href="index.html"><i class="rounded-x fa fa-angle-right"></i>Home</a></li>
<li><a href=""><i class="rounded-x fa fa-angle-right"></i>Page</a></li>
<li class="active"><i class="rounded-x fa fa-angle-right"></i>F.A.Q</li>
</ul> -->
  </div>
</div>
<!--=== End Breadcrumbs v2 ===-->
