<!--<header>-->
<!--<a class="backToMain" href="http://www.geekulcha.com"><i class="fa fa-home fa-lg"></i> Return to Main Site</a>-->
<!--=== Header ===-->
<div class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container" style="height: 5px;">
      <!-- Topbar Navigation -->
      <ul class="loginbar pull-right">
        &nbsp;
        <!--<li>
          <i class="fa fa-globe"></i>
          <a>Languages</a>
          <ul class="lenguages">
            <li class="active">
            <a href="#">English <i class="fa fa-check"></i></a>
            </li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">Russian</a></li>
            <li><a href="#">German</a></li>
          </ul>
        </li>
        <li class="topbar-devider"></li>
        <li><a href="page_faq.html">Help</a></li>
        <li class="topbar-devider"></li>
        <li><a href="page_login.html">Login</a></li>-->
      </ul>
      <!-- End Topbar Navigation -->
    </div>
  </div>
  <!-- End Topbar -->

  <!-- Navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="height: 20px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id="logo-header" class="img-responsive" src="/img/logo.png" alt="Logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- Home-->
          <li><a href="{{site.main}}/"> Home</a></li>
          <!-- About-->
          <li><a href="{{site.main}}/about">About</a></li>
          <!-- Services Dropdown-->
          <li><a href="{{site.main}}/services">Services</a></li>
          <!-- Events-->
          <li><a href="{{site.main}}/events">Events</a></li>
          <!-- Blog-->
          <li><a href="http://blog.geekulcha.com">Blog</a></li>
          <li><a href="{{site.main}}/contact">Contact Us</a></li>
          <!-- Home -->
          <!--<li class="">
            <a href="{{ site.join }}"> Join Geekulcha</a>
          </li>-->
          <!-- End Home -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input readonly type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/navbar-collapse-->
    </div>
  </div>
  <!-- End Navbar -->
</div>

<!--</header>-->
<!--=== End Header ===-->
